# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/
a4ml_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE specific files
.idea/
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env

# Logs
*.log

# Miscellaneous
*.DS_Store
*.swp
*.swo
*.tmp